{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  {% if session.logged_in %}    
<!-- 
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>  -->
  <p>
  <form method="POST" enctype="multipart/form-data" action="{{ url_for('add_entry') }}">
    <p>  <input type="file" name="file[]" multiple="">
    
      <input type="text" class="hint" value="Enter tags separated by comma" size =50 name="tags"
    onfocus="if (this.className=='hint') { this.className = ''; this.value = ''; }"
    onblur="if (this.value == '') { this.className = 'hint'; this.value = 'Enter tags separated by comma'; }">
    <p>
      <input type="submit" value="Upload">
  </form>
  </p>

  {% endif %}
  <hr>
  {% if entries %}
  <table class ="gridtable">
    <tr>
    <th>ID </th>
    <th>File name</th>
    <th>Patient name</th>
    <th>Patient ID</th>
    <th>Annotation</th>    
    </tr>  
    {% for entry in entries %}    
    <tr>
    <td>{{entry.id}} </td>
    <td>{{entry.filename}}</td>
    <td>{{entry.patientname}}</td>
    <td>{{entry.patientid}}</td>
    <td>{{entry.annotation}}</td>    
    </tr>  
  {% endfor %}
  {% else %}
    <em> No uploads! </em>
    {% endif %}
  
  
{% endblock %}